# Dependencies
node_modules
node_modules/
/.pnp
.pnp.js
jspm_packages/

# Testing
/coverage
coverage
*.lcov
.nyc_output

# Production
/build
/dist
dist
build/Release

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache directories
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache
.docusaurus
.temp
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# TypeScript
*.tsbuildinfo

# Vite
*.local
**/.vitepress/dist
**/.vitepress/cache

# Other
.serverless/
.fusebox/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
